@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.custom-img-home {
  background-color: white;
}
.wrapper{
  background: linear-gradient(to right, #72cddd , #07a399);
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  background: white;
  padding: 3rem 4rem;
}
.card p{
  padding-top: 1rem;
  line-height: 150%;
}
.expand{
  width: 30rem;
}

.expand img{
  width: 50px;
  float: right;
}
.progress-bar {
  position: fixed;
  top: 71px;
  left: 0;
  right: 0;
  height: 2px;
  background: rgb(67 56 202);
  transform-origin: 0%;
  z-index: 20;
}
.custom_bg_class{
  background: rgba(252, 245, 219, 0.5);
box-shadow: 0 8px 32px 0 rgba(113, 113, 95, 0.37);
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media (min-width:0px) and (max-width:639px) {
  .expand{
    width: 10rem;
  }
  
  .expand img{
    width: 30px;
    position: relative;
    left: 45px;
    bottom: 60px;
  }
  .expand p{
    font-size: 10px;
  }
  .progress-bar {
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    height: 3px;
    background: rgb(67 56 202);;
    transform-origin: 0%;
    z-index: 9;
  }
}

@media (min-width:640px) and (max-width:1400px){
  #nprogress .bar {
    background: rgb(67 56 202) !important;
    height: 2px !important;
    top: 0 !important;
  }
  #nprogress .peg {
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255) !important;
  }
  #nprogress .spinner-icon {
  border-top-color: rgb(67 56 202)  !important;
  border-left-color: rgb(67 56 202) !important;
  width: 20px  !important;
  height: 20px !important;

  }
  #nprogress .spinner {
    display: block;
    position: fixed !important;
    z-index: 20 !important; 
    top: 26px !important;
    right: 25px !important;
  }
}
@media (min-width:0px) and (max-width:639px){
  #nprogress .spinner-icon {
    border-top-color: rgb(67 56 202)  !important;
    border-left-color: rgb(67 56 202) !important;
    width: 20px  !important;
    height: 20px !important;
    }
    #nprogress .spinner {
      display: block;
      position: fixed !important;
      z-index: 10.1 !important; 
      top: 26px !important;
      right: 55px !important;
    }
}
.coins_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 50px;
}
.active_nav{
  font-weight: 650;
  text-decoration-line: underline;
  color:  rgb(67 56 202);
}

@media (min-width:0px) and (max-width:500px){
  .coins_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    padding: 1rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 50px;
  }
  .btn_wrap{
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 340px;
  }
  .custom_hide{
    display: none;
  }
  .share_span{
    width: 340px;
  } 
  .container_share{
    width: 340px;
  }
}
.custom-bx-shadow{
  box-shadow: 0 -5px 5px -5px #6e6767;
}
.testimonals{
  margin-top: 20px;
  margin-bottom: 50px;
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five';
}
.testimonals div:nth-child(1){
  grid-area: one;
}
.testimonals div:nth-child(2){
  grid-area: two;
}
.testimonals div:nth-child(3){
  grid-area: three;
}
.testimonals div:nth-child(4){
  grid-area: four;
}
.testimonals div:nth-child(5){
  grid-area: five;
}
@media (min-width:50em){
  .testimonals{
    grid-template-areas: 
    'one one two five'
    'three four four five';
  }
} 
.custom_img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: right;
  border-radius: 10px;
}

.custom_grid{
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  grid-template-areas:
  'one'
  'two';
}
.custom_grid div:nth-child(1){
  grid-area: one;
}
.custom_grid div:nth-child(2){
  grid-area: two;
}
.custom_grid_2{
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  grid-template-areas:
  'one'
  'two'
  'three';
}
.custom_grid_2 div:nth-child(1){
  grid-area: one;
}
.custom_grid_2 div:nth-child(2){
  grid-area: two;
}
.custom_grid_2 div:nth-child(3){
  grid-area: three;
}

@media (min-width: 1024px) {
  .custom_grid{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    grid-template-areas:
    'one one two';
  }
  .custom_grid_2{
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
    grid-template-areas:
    'one two three';
  }
}

.btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 370px;
  height: 60px;
  background-color: #EEEEED;
  border-radius: 80px;
  padding: 0 18px;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn_wrap:hover {
  /* transition-delay: .4s; */
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}
.container_share .in_links{
  opacity: 0;
  font-size: 28px;
  color: #1F1E1E;
  will-change: transform;
  -webkit-transform: scale(.1);
          transform: scale(.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.share_span{
  position: absolute;
  z-index: 99;
  width: 370px;
  height: 60px;
  border-radius: 80px;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  color: #EEEEED;
  background-color: rgb(67 56 202);
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.container_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 64px;
  border-radius: 80px;
}

.container_share a:nth-of-type(1) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.container_share a:nth-of-type(2) {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

.container_share a:nth-of-type(3) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.container_share a:nth-of-type(4) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.btn_wrap:hover .share_span {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(-370px);
          transform: translateX(-370px)
}

.btn_wrap:hover a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.custom_bx{
  -webkit-box-shadow: -1px 3px 26px -7px rgba(219,118,35,1);
-moz-box-shadow: -1px 3px 26px -7px rgba(219,118,35,1);
box-shadow: -1px 3px 26px -7px rgba(219,118,35,1);
}

.custom_bg_shadow{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.custom_outline{
  box-shadow: 0 -1px 0 #000;
}
